
@model GlobalShopping.Models.EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Editar</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Producto</h3>
						</div>
						<div class="text-success">
							<h3>
								@ViewBag.Message
							</h3>
						</div>
						<form asp-action="Edit">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input type="hidden" asp-for="Id" />

							<div class="card-body">
								<div class="form-group">
									<partial name="_EditProduct"/>
								</div>
							</div>

							<div class="card-footer">
								<input type="submit" value="Guardar" class="btn btn-outline-primary" />
								<a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-rotate-left"></i> Regresar</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

