 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Sidebar -->
	<div class="sidebar">

		<ul class="nav nav-pills nav-sidebar flex-column text-white" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fa-solid fa-bag-shopping" style="font-size:24px"></i>
					<p style="font-size:24px">
						GlobalShopping
					</p>
				</a>
			</li>
		</ul>

		<hr />

		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
						</p>
					</a>

				</li>

				@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
				{
					<li class="nav-header">Mantenimientos</li>

					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">
							<i class="fa-solid fa-earth-americas"></i>
							<p>
								Países
							</p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">
							<i class="fa-solid fa-cart-flatbed"></i>
							<p>
								Categorías
							</p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
							<i class="fa-solid fa-users"></i>
							<p>
								Usuarios
							</p>
						</a>
					</li>
				}




			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>