@model GlobalShopping.Models.EditUserViewModel

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			@*<label asp-for="Document" class="control-label"></label>*@
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class='fa fa-address-card'></i></span>
				</div>
				<input asp-for="Document" class="form-control" placeholder="Documento"/>
			</div>
			<span asp-validation-for="Document" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class='fa fa-user-circle'></i></span>
				</div>
				<input asp-for="FirstName" class="form-control" placeholder="Nombres"/>
			</div>
			
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class='fa fa-user-circle'></i></span>
				</div>
				<input asp-for="LastName" class="form-control" placeholder="Apellidos" />
			</div>
			
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class='fa fa-envelope-open'></i></span>
				</div>
				<input asp-for="Address" class="form-control" placeholder="Dirección" />
			</div>
			
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class='fa fa-phone'></i></span>
				</div>
				<input asp-for="PhoneNumber" class="form-control" placeholder="Teléfono"/>
			</div>
			
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			
			<input asp-for="ImageFile" class="form-control" type="file" title="Seleccione una imagen" />
			<span asp-validation-for="ImageFile" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<select asp-for="CountryId" asp-items="Model.Countries" class="form-control"></select>
			<span asp-validation-for="CountryId" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<select asp-for="StateId" asp-items="Model.States" class="form-control"></select>
			<span asp-validation-for="StateId" class="text-danger"></span>
		</div>

		<div class="form-group">
			
			<select asp-for="CityId" asp-items="Model.Cities" class="form-control"></select>
			<span asp-validation-for="CityId" class="text-danger"></span>
		</div>
	</div>
</div>
