@model GlobalShopping.Data.Entities.Category

<div class="form-group">
	<label asp-for="Name" class="control-label"></label>
	<input asp-for="Name" class="form-control"  placeholder="Escriba la categoría" />
	<span asp-validation-for="Name" class="text-danger"></span>
</div>