@{
	ViewData["Title"] = "Error404";
}

<h1>404 Error, página no encontrada</h1>

<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>



