@model GlobalShopping.Models.LoginViewModel

@{
	ViewData["Title"] = "Login";
	Layout = "_LayoutWithNothing";
}



<body class="hold-transition login-page">

	<form asp-action="Login">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="login-box">
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="../../index2.html" class="h1"><b>Global</b>Shopping</a>
				</div>
				<div class="card-body">
					<p class="login-box-msg">Iniciar Sesión</p>

					<form action="../../index3.html" method="post">
						<div class="input-group mb-3">
							<input asp-for="Username" type="email" class="form-control" placeholder="Email" />
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="icheck-primary">
									<input asp-for="RememberMe" type="checkbox" />
									<label asp-for="RememberMe">
										Remember Me
									</label>
								</div>
							</div>

							<div class="col-6">
								<button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
							</div>

						</div>
					</form>

					<div class="social-auth-links text-center mt-2 mb-3">
						<a href="#" class="btn btn-block btn-primary">
							<i class="fab fa-facebook mr-2"></i> Iniciar Sesión usando Facebook
						</a>
						<a href="#" class="btn btn-block btn-danger">
							<i class="fab fa-google-plus mr-2"></i> Iniciar Sesión usando Google+
						</a>
					</div>

					<p class="mb-1">
						<a asp-action="RecoverPassword" class="text-center">Olvide mi contraseña</a>
					</p>
					<p class="mb-0">
						<a asp-action="Register" class="text-center">Registrar Nuevo Usuario</a>
					</p>
				</div>
			</div>
		</div>

	</form>

</body>


@section Scripts {
	@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
	}



