@model GlobalShopping.Models.RecoverPasswordViewModel

@{
	ViewData["Title"] = "RecoverPassword";
	Layout = "_LayoutWithNothing";
}

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="../../index2.html" class="h1"><b>Global</b>Shopping</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">¿Olvidaste tu contraseña? Aquí puede recuperar fácilmente la contraseña.</p>
				<form method="post">
					<div asp-validation-summary="ModelOnly"></div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class='fas fa-envelope'></i></span>
							</div>
							<input type="email" asp-for="Email" class="form-control" placeholder="Email">
						</div>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Solicitar nueva contraseña</button>
						</div>
					</div>
				</form>
				<p class="mt-3 mb-1">
					<a asp-action="Login">Login</a>
				</p>
				<div class="text-success">
					<p>
						@ViewBag.Message
					</p>
				</div>

			</div>
		</div>
	</div>
</body>


@section Scripts {
	@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
	}

