@model GlobalShopping.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutWithNothing";
}



<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Global</b>Shopping</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Estás a un paso de tu nueva contraseña, recupera tu contraseña ahora.</p>
                <form method="post">
                    <div asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="Token" />

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-envelope'></i></span>
                            </div>
                            <input type="email" asp-for="UserName" class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-lock'></i></span>
                            </div>
                            <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-lock'></i></span>
                            </div>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmación de contraseña" />
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Resetear Contraseña</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a asp-action="Login">Login</a>
                </p>
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>

            </div>
        </div>
    </div>


</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


